header {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    color: black;
}

.bodyIndex{
    background-color: tomato;    
}

.bodyCactus{
    background-color: rgb(69, 69, 174);    
}

.bodyImma{
    background-color: pink;    
}

.bodyDandee{
    background-color: orange;    
}

.bodySophie{
    background-color: rgb(226, 217, 91);    
}

.contenedorLogo {
    position: fixed;
    top: 60px;
    right: 1%;
}

.contenedorLogo img {
    width: 40%;
    height: auto;
}

.spanLinkIg {
    font-style: bold;
    color: black;
}

.spanLinkCactus {
    color: rgb(69, 69, 174);
}

.spanLinkImma {
    color: pink;
}

.spanLinkDandee {
    color: orange;
}

.spanLinkSophie {
    color: rgb(226, 217, 91);
}

.spanLink7ins {
    color: white;
}

.spanLinkHome {
    color: tomato;
}

.contenedorImagenes {
    position: relative; 
    display: flex;
    left: 100px;
    width: 100%;
    overflow: hidden;
}

.contenedorImagenesSophie {
    position: relative; 
    display: flex;
    left: 250px;
    width: 100%;
    overflow: hidden;
}

.contenedorImagenes img {
    border: 2px solid black;
    height: auto;
    object-fit: contain;
}

.contenedorImagenesSophie img {
    border: 2px solid black;
    height: auto;
    object-fit: contain;
}

.contenedorTexto {
    left: 100px;
    position: relative; 
    display: flex;
    width: 100%;
    overflow: hidden;
}

.contenedorTextoDandee {
    top: 100px;
    position: relative; 
    display: flex;
    overflow: hidden;
}


@media (max-width: 576px) {
    .contenedorLogo {
        position: fixed;
        top: 10%;
        left: 70%;
    }

    .contenedorLogo img {
        width: 30%;
        height: auto;
    }
}