/* Estilo general */

body {
    color: black;

    header {

        .contenedorLogo {
            width: 100%;
            display: flex;
            justify-content: right;
            padding: 5px;

            img {
                width: 10%;
            }
        }
    }

    .spanLinkHome {
        color: tomato;
    }

    .spanLink7ins {
        color: white;
    }

    .spanLinkCactus {
        color: rgb(69, 69, 174);
    }

    .spanLinkImma {
        color: pink;
    }

    .spanLinkDandee {
        color: orange;
    }

    .spanLinkSophie {
        color: rgb(226, 217, 91);
    }

    .contenedorImagenes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 20px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .spanLinkIg {
        font-style: bold;
        color: black;
    }
}

/* Estilo Index */

.bodyIndex {
    background-color: tomato;
    footer {
        padding-top: 10px;
        background-color: rgba(175, 47, 25, 0.704);
        }
}


/* Estilo Cactus */

.bodyCactus {
    background-color: rgb(69, 69, 174);
    footer {
        padding-top: 10px;
        background-color: rgb(50, 50, 185);
        }
}

/* Estilo ImmA */

.bodyImma {
    background-color: pink;
    footer {
        padding-top: 10px;
        background-color: rgb(241, 137, 154);
        }
}


/* Estilo Dandee */

.bodyDandee {
    background-color: orange;

    .contenedorTextoDandee {
        top: 100px;
        position: relative;
        display: flex;
        overflow: hidden;
    }

    footer {
        padding-top: 10px;
        background-color: rgba(175, 47, 25, 0.704);
        }
}

/* Estilo Sophie */

.bodySophie {
    background-color: rgb(226, 217, 91);

    .contenedorImagenesSophie {
        position: relative;
        display: flex;
        left: 250px;
        width: 100%;
        overflow: hidden;

        img {
            border: 2px solid black;
            height: auto;
            object-fit: contain;
        }

    }

    footer {
        padding-top: 10px;
        background-color: rgb(220, 208, 53);
        }
}